

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey Guys</h1>
    <p> notre responsable relation et communication est indisponible. Attendez là , ne fermer pas le navigateur et observer le changement</p>
  </body>
</html>

